*filter
-A OUTPUT -p tcp --dport 80 -j ACCEPT
{% for item in mdbook_sites %}
-A OUTPUT -p tcp -d {{ item.source_host | default("github.com") }} --dport {{ item.source_port | default("443") }} -j 
{% endfor %}
ACCEPT
COMMIT
